@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #09637e;
  --color-secondary: #088395;
  --color-neutral: #ebf4f6;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));
